::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    background: rgb(61, 58, 58);
}

::-webkit-scrollbar-thumb{
    background: rgb(107, 104, 104);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(37, 37, 37);
}